<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="platform" value="local" />
<listeners>
    <listener class-name="TestComponants.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="HomePageModules.SearchActivity"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="NegativeTest1Activity">
    <classes>
      <class name="HomePageModules.NegativeTest1Activity"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
